/* app css stylesheet */

html{
  background: #333;
}

pre{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  width: 650px!ie7;
  padding-bottom: 20px!ie7;
  max-height: 600px;
}

h1 {
    color: #428bca;
}

h3 {
    color: darkred;
}

h4 {
    color: crimson;
}

h5 {
    font-size: 15px;
}

ul.ng-scope {
    list-style: none;
}

ul.menu {
    font-size: 18px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-color: #428bca;
    border-style: dashed;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: #fff;
}

pre {
    margin: 0px;
    margin-top: 5px;
}