<h2>1. Single Responsibiliy</h2>

<div class="container">
	<h3>1.1 Rule of 1</h3>

	<p>Put module, controller and factory in separate files.</p>

	<p><b>Why? </b>Files can become large over time so it makes perfect sense to create a separate JS file for the module, controller and factory methods. Putting all your methods in one file would look unorganised and be a dread for the next developer the work with.</p>

	<p>So with all due respect, avoid: </p>

<pre>
/* All your mehtods in a single file */
angular
    .module('app', ['ngRoute'])
    .controller('SomeController', SomeController)
    .factory('someFactory', someFactory);

function SomeController() { }

function someFactory() { }
</pre>

<p>Permit and apply: </p>

<pre>
/* All your mehtods in separate files */
// app.module.js
angular
    .module('app', ['ngRoute']);

// some.controller.js
angular
    .module('app')
    .controller('SomeController', SomeController);

function SomeController() { }

// someFactory.js
angular
    .module('app')
    .factory('someFactory', someFactory);

function someFactory() { }
</pre>

<p>Take a look at this file structure of how it should look: </p>

<pre>
app (folder)
--- views (folder)
------ home (folder)
--------- home.html
--------- home.js
--------- home_test.js 
--- app.config.js
--- app.module.js
--- app.controller.js
--- app.factory.js
</pre>

<p>So you see I've gone and created a couple of central JS files for my application. Views however, also have a controller of their own for this controller contains specific code to be binded by that view. Take a look at the contents of home.js: </p>

<pre>
'use strict';

angular.module('myApp.home', ['ngRoute'])

.config(['$routeProvider', function($routeProvider) {
  $routeProvider.when('/views/home', {
    templateUrl: 'views/home/home.html',
    controller: 'HomeCtrl'
  });
}])

.controller('HomeCtrl', [function() {

}]);
</pre>

<p>We see here that the routeprovider has been defined so that the browser will load the relevant template when the url changes. We also see that it's now also possible to define a controller for this views straight from within the view folder.</p>

</div>