<h2>The <u>ONLY</u> way to write AngularJS</h2>

<p>John Papa's Style Guide provdes a clear and concise way of writing AngularJS. I first came to know about the guide after an interview with Maarten Stolte who is development engineer at the ING Bank in the Amsterdam. He mentioned how they use this guide at the ING Bank to write AngularJS and advised me to delve into it. So I did.</p>

<p>John Papa's Style Guide "Applied" is an extended version of John's guide where I provide deeper elaboration into the message each chapter is trying to convey. I also grab the examples he provides for each chapter section and get them running as working examples.</p>

<p>Feel free to download my project for greater understanding into how to apply AngularJS the John Papa way.</p>