<div class="container" id="ctrl-as-exmpl" ng-controller="controllers as settings">
	<h3>4.1 controllerAs View Syntax</h3>
	<p>Using the controllerAs syntax over the classic controller with $scope syntax.</p>
	<pre>&lt;div class="container" id="ctrl-as-exmpl" ng-controller="controllers as settings"&gt; &lcub; &lcub; settings.name &rcub; &rcub; &lt;/div&gt;</pre>
	
	<h3>4.2 controllerAs Controller Syntax</h3>

<pre>
/* recommended - but see next section */
function CustomerController() {
    this.name = {};
    this.sendMessage = function() { };
}
</pre>

	<h3>4.3 controllerAs with vm</h3>
	<h4>4.3.1 Check previous and current name application</h4>
	<p>This application takes a name and compares the last name input with the next. It accepts strings and rejects integers. We are also using Angular's $watch function to watch for changes to the last element in the array.</p>

<pre>
vm.original = [''];
vm.save = function() {
	if (!isNaN(vm.name)) {
		throw alert('Sorry, not a valid name. Please try again.');
	} else {
		vm.original.push(vm.name);
		if (vm.original.length > 2) {
			vm.original.shift();
		}
	}					 				 		
	vm.previous = vm.original[0];
	vm.current = vm.original[1];
}
</pre>

	<br>	
	<label>Name: <input id="inputField" type="text" ng-model="settings.name"/></label>
	<button ng-click="settings.save(settings.name)">Save</button><br/>
	<ul>
	    Original = <span ng-bind="settings.original">{{ settings.previous }}</span><br>
	  	Current = <span ng-bind="settings.name"> {{ settings.current }}</span>
	</ul>

	<h4>4.3.2 Counting up</h4>
	<button ng-click="settings.countUp()">Add 1: </button><span> {{ settings.count }}</span>
	<p>If you look in the console, you will see that we are watching the changes to the names array using Angular's $watch function. Open your console and go ahead and add Names to the array.</p>
</div>

<div class="container" ng-controller="SessionsController as options">
	<h3>4.4 Bindable Members Up Top</h3>
		<p>John recommends that you place bindable members at the top of the controller, alphabetized, and not spread throughout the controller code. </p>
		<p>Why?: Placing bindable members at the top makes it easy to read and helps you instantly identify which members of the controller can be bound and used in the View.</p>
		<p>Why?: Setting anonymous functions in-line can be easy, but when those functions are more than 1 line of code they can reduce the readability. Defining the functions below the bindable members (the functions will be hoisted) moves the implementation details down, keeps the bindable members up top, and makes it easier to read.</p>
		<p>I have created three functions that illustate what John means by this.</p>
		<button ng-click="options.gotoSession()">Go to Session</button>
		<button ng-click="options.refresh()">Refresh</button>
		<button ng-click="options.search()">Search</button>

		<span ng-bind="options.gotoSession"> Sessions: {{ options.gotoSession }}</span>

		<p>Now take a look at the code used:</p>

<pre>
/* 4.4 Bindable Members Up Top */
vm.gotoSession = gotoSession;
vm.refresh = refresh;
vm.search = search;
vm.sessions = [];

function gotoSession() {
 	$log.info('Executed gotoSession()');
}

function refresh() {
   	$log.info('Executed refresh()');		    
}

function search() {
   	$log.info('Executed search()');
}
</pre>

	<p>Notice that in the console, you will see these functions being executed every time a button is clicked.</p>

	<p>{{ sessions.sessions }}</p>
</div>

<div class="container" ng-controller="AvengersController as avengerControl">
	<h3>4.5 Function Declarations to Hide Implementation Details</h3>
	<p>John Papa recommends that we add the important stuff at the top of the code stack. If you look a the code below, I add vm.activate and vm.title at the top because this is easier to read and understand not only for yourself but for the next developer who reads your code.</p>

<pre>
function AvengersController( avengersService, $log) {
    var vm      = this;
    vm.avengers = [];
    vm.activate = activate; <b>//Good practice</b>
    vm.title    = 'Get the Avengers and log the retrieval'; <b>//Good practice</b>    

    function activate() {
        retrieveAvengers();
        $log.info('Avengers retrieval successful!');
    }

    function retrieveAvengers() {
    	vm.avengers = avengersService.getAvengers();
    	//activate();                
    }
}
</pre>

	<p>Now I just put the code into action. The activate function up binded to the button below which in turn retrieves the Avengers and creates a log in the console.</p>
	
<pre>

.factory('avengersService', function ($log) {
	return {
		refresh: function () {     		
	   		$log.info('Executed refresh()');		    
		},
		getAvengers: function() {
			$log.info('getting data...');
		    return [
		        {
		            Name: 'Iron Man',
		            RealName: 'Anthony "Tony" Edward Stark',
		            MemberSince: '1963',
		            Notes: 'Founder of original roster. Joined West Coast Branch in West Coast Avengers vol. 2 #1 (1984). Expelled for Armor War (1987). Current member of the main Avengers team.'
		        },
		        {
		            Name: 'Thor',
		            RealName: 'Thor Odinson (a.k.a. Dr. Donald Blake, Sigurd Jarlson, Jake Olsen, Odinson)',
		            MemberSince: '1963',
		            Notes: 'Former member of the main Avengers team.',
		        },
		        {
		            Name: 'Ant-Man',
		            RealName: 'Dr. Henry Jonathan "Hank" Pym',
		            MemberSince: '1963',
		            Notes: 'Became Giant-Man in Avengers #2 (1963), Goliath in Avengers #28 (1966), and Yellowjacket in Avengers #59 (1969). Expelled as Yellowjacket in Avengers #213 (1981). Joined West Coast Branch as Doctor Pym in West Coast Avengers #21 (1988). Became The Wasp in Mighty Avengers #21 (March 2009). He is one of only two members, the other being Kelsey Leigh (Captain Britain), who have Avengers status in both their civilian and superhero guises. Formerly the head of the Avengers Academy, former member of the Secret Avengers and formerly the leader of the Avengers A.I. Squad. Currently merged with Ultron.',
		        }
		    ]
		}
	}        	 
})
</pre>

	<h5>{{ avengerControl.title }}</h5>

	<p>When the button below is clicked, we retrieve the list of Avengers from the data object array and return them in an unordered list. A log is registered everytime the button is clicked (see the console).</p>
	<button ng-click="avengerControl.activate()">Get Avengers</button>	

	<ul ng-repeat="hero in avengerControl.avengers">
		  <li><b>Name: </b>{{hero.Name}}</li>
		  <li><b>Real Name: </b>{{hero.RealName}}</li>
		  <li><b>Member since: </b>{{hero.MemberSince}}</li>
		  <li><b>Extra notes: </b>{{hero.Notes}}</li>		  	
	</ul>

</div>
	
	<h3>4.6 Defer Controller Logic to Services</h3>
	<h3>4.7 Keep Controllers Focused</h3>
	<h3>4.8 Assigning Controllers</h3>